[Desktop Entry]
Name=GameHandler
GenericName=Game Manager
Comment=Run Windows games on Linux with Wine and Proton, and download more runners
Exec=gamehandler
Icon=com.goshapps.GameHandler
Terminal=false
Type=Application
Categories=Game;
Keywords=Wine;Proton;Windows;Games;Emulation;
StartupNotify=true
StartupWMClass=com.goshapps.GameHandler
